@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6 well col-md-offset-2"¨>
        <br /><br /><br />
        <form action="~/Home/Login">
            <label>Username:</label>
            <input type="text" name="username" class="form-control" />

            <br />
            <label>Passwort:</label>
            <input type="password" name="password" class="form-control" />

            <br />
            <label>Eingeloggt bleiben</label>
            <input type="checkbox" name="stay_logged_in" class="form-control" />

            <br />
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>