 209870168283-hqpjin6gr2p72j60g24viicvk5mibm52.apps.googleusercontent.com Client-Id
 dv7wgl07d1VvISiyXMwIiu_l Client Schlüssel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
